/* COR DO MODO DE ACESSIBILIDADE*/
:root {
  --bg-color: #ff0000;
  --text-color: #111111;
}

/* COR PADRO DO SITE*/
[data-acessivel="true"] {
  --bg-color: #f5f5f5; /* Preto suave */
  --text-color: #2e2e2e; /* Cinza claro */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove espaçamentos padrão */
  overflow-x: hidden; /* Evita rolagem lateral */
}

a {
  color: #007bff;
}

/* ESTILO DO BOTAO DE ACESSIBILIDADE*/

button#acessibilidadeToggle {
  padding: 10px 15px;
  margin: 20px 0;
  background-color: #d55e00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#acessibilidadeToggle:hover {
  background-color: #009e73;
}

/* RESPONSIVIDADE COM CELULARES */
@media (max-width: 450px) {
  body {
    font-size: 19px;
  }

  .mapaGoogle {
    width: 200%; /* Ajusta o mapa para caber na tela */
    height: 300; /* Define uma altura fixa */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mapaGoogle {
    width: 100%; /* Ajusta o mapa para caber na tela */
    height: 380px; /* Define uma altura fixa */
  }
}

@media (orientation: landscape) {
  body {
    font-size: 16px;
  }

  .menu {
    display: none;
  }
}
